<include file="Public:header"/>
<body>
<div class="mem_bgk">
    <div class="mem_con">
        <span style="padding-right: 25%;display: initial;width: 50%;"><img src="__IMG__/touxiang.png" alt="">guest243754</span>
        <a href=""><span style="display: inline-flex;">退出 <i></i></span></a>
    </div>
    <div class="mem_con yue">
        <span><i></i>可用余额：200.00<em>元</em></span>
    </div>
    <div class="mem_con mem_op">
        <a href=""><span class="cz"><i></i><em>充值</em></span></a>
        <a href="{:U('Member/addback')}"><span class="tk"><i></i><em>提款</em></span></a>
    </div>
</div>



<include file="Public:footer"/>

